*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 97%);
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15vh 75vh; */
}

header nav i, header nav span{
    cursor: pointer;
}

header nav .top-nav{
    width: 100vw;
    height: 7vh;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

header nav .top-nav .top-nav-part1{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

header nav .top-nav .top-nav-part1 .creat{
    border: 1px solid;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    margin-top: -5px;
    padding-top: 5px;
}
header nav .top-nav .top-nav-part2{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

header nav .top-nav .top-nav-part2 .sign-in{
    font-weight: 600;
}

header nav .bottom-nav .logo .red{
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(114, 7, 7, 0.897);
    border-radius: 3px;
    margin-right: 20px;
}

header nav .bottom-nav .logo{
    width: 25%;
    display: flex;
}

header nav .bottom-nav{
    width: 100vw;
    height: 8vh;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 192, 192);
}

header nav .bottom-nav .bottom-nav-part2{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

header nav .bottom-nav .bottom-nav-part2 .search{
    margin-top: 5px;
}

header nav .bottom-nav .bottom-nav-part2 .try-acrobat{
    width: 120px;
    height: 30px;
    background-color: rgb(9, 110, 198);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: 600;
}

main .sidebar{
    width: 20%;
    height: 80%;
    padding: 20px;
    
}

main .sidebar span{
    display: block;
    cursor: pointer;
    font-size: 0.9em;
    width: 90%;
    line-height: 30px;
    padding-left: 10px;
}

main .sidebar .sidebar-item.sidebar-styles{
    background-color: hsl(0, 0%, 80%);
}

main .sidebar .sidebar-item{
    margin-top: 15px;
}

main .sidebar h4{
    margin-top: 20px;
    margin-left: 10px;
}

.close-inp-btn{
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-inp{
    width: 35%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gainsboro;
    padding: 5px 15px;
}

.search-inp:focus{
    outline: 1px solid rgb(34, 115, 229);
    border: none;
}

main .main-content .sidebar-content{
    display: none;
}

main{
    display: flex;
    width: 100%;
    
}

.main-content{
    width: 90%;
}
.sidebar-content{
    margin-top: 20px;
    width: 90%;
    height: 70%;
}

.page-btn{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(48, 149, 243);
    color: white;
    border: none;
    width: max-content;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
}

.page-content{
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}

.install-container button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 25px;
    width: 175px;
    height: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.install-container .ios span{
    display: block;
    font-weight: 700;
    font-size: 18px;
}

.install-container button .app-icon i{
    font-size: 25px;
}

.install-container{
    display: flex;
    gap: 20px;
    justify-content: center;
=======
    width: 100%;
    height: 100%;
    border: 2px solid;
    background-color: blueviolet;
    
}

 .top-l{
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 0 0 20px;
    display: block;
    border: 1px solid hsla(0, 0%, 50%,.5);
    border-radius: 10px;
}
.top-l .see-btn{
    height: 30px;
    width: 100px;
    margin-left: 330px;
    margin-right: 10px;
    border-radius: 50px;
}
.box{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box h5{
    margin-bottom: 1rem;
}
.box span{
    width: 100%;
    margin-bottom: 1rem;
    font-size: .69rem;
    color: hsla(0, 0%, 0%,.7);
}
.box a{
    text-decoration: none;
    font-size: .7rem;
    color: blue;
}
.box i{
    margin-right: 10px;
    font-size: 1.1rem;
}
.top-l .container{
    width: 95%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr;
    /* border: 2px solid; */
    grid-template-areas: "first second file"
                           ;
    margin-top: 50px;
}
.first{
    grid-area:first ;
    /* background-color: brown; */
}
.second{
    grid-area: second;
    /* background-color: rgb(155, 29, 144); */
    padding-left: 50px;
}
.file{
    grid-area: file;
    /* background-color: aquamarine; */
}
/* .footer{
    height: 250px;
    grid-area: footer;
    background-color: aqua;
} */
.tem{
    height: 93%;
    width: 70%;
    margin-left: 66px;
    background-color: hsla(0, 0%, 50%,.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}
.tem span:nth-of-type(1){
    font-size: .7rem;
}
.tem span:nth-of-type(2){
    font-size: .7rem;
    margin-top: 20px;
}

.tem a{
    height: 50px;
    width: 50px;
    background-color: blue;
}
.tem .openfile{
    height: 30px;
    width: 100px;
    border-radius: 50px;
    margin-top: 20PX;
}
.tem i{
    font-size: 3rem;
    margin-bottom: 20px;
}
.top-r button{
    height: 30px;
    width: 100px;
    border-radius: 50px;
}
.top-r{
    width: 30%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 0 0 20px;
    display: inline;
    border: 1px solid hsla(0, 0%, 50%,.5);
    border-radius: 10px;
}
.top-r .dots{
    margin-left: 15rem;
}
.top-r h4{
    margin-top: 3rem;
    width: 80%;
}
.top-r h4,.top-r p{
    margin-bottom: 1.5rem;
}
.top-r p{
    font-size: 0.8rem;
    width: 80%;
}

.footer{
    height: 29.5%;
    width: 97%;
    
  /* background-color: rgb(204, 214, 54); */
    margin-left: 20px;
    margin-top: 50px;
}

.footer-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-t span:nth-of-type(1){
    height: 2rem;
    width: 2rem;
    margin-left: 890px;
    padding: 6px;
}
.footer-t span:nth-of-type(1):hover{
    margin-left: 890px;
    background-color: gray;
    cursor: pointer;
}

.footer-t span:nth-of-type(2){
    margin-right: 20px;
    height: 2rem;
    width: 2rem;
    padding: 6px;
}
.footer-t span:nth-of-type(2):hover{
    cursor: pointer;
    background-color: gray;
}
.footer span i{
    font-size: 1.3rem;
}
.top-recent{
    height: 60%;
    display: flex;
    gap: 20px;
    /* background-color: beige; */
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.recent .line{ 

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    /* background-color: aquamarine; */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 65px;
    border-bottom: 2px solid hsla(0, 0%, 50%,.5);
}
.recent .line .check{
    margin-left: 30px;
}
.recent .line .name{
    margin-left: -400px;
}
.recent .line .sharing{
    margin-left: -100px;
}
.recent .line .opened,.size{
    margin-left: -190px;
}
.recent{
    background-color: hsl(0, 0%, 97%);
    border: none;
}
.clear{
    display: block;
    margin-left: 59.95rem;
    margin-top: 100px;
    color: rgb(80, 80, 206);
}
.clear:hover{
    text-decoration: underline;
    cursor: pointer;
>>>>>>> c083f4a99f20d08f2a0a4bc4fa8e193bda6ba4c5
}